<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- link to game controller
    <script src="../scripts/utils.js"></script>
    <script src="../scripts/game.js"></script>-->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/src/app/styles/style.scss" />
  </head>

  <body>
    
    <section class="overflow-auto flex-grow-1 d-flex flex-column">
      <div class="container-fluid flex-grow-1">
        <main class="game-cmp">
          <div class="cards"></div>
        </main>
      </div>

      
    </section>
    <script>
      (function () {
        new GameComponent().init();
      })();
    </script>
  </body>
</html>
